<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Curso de Spring Boot</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<style type="text/css">
form input[type=submit] {
	color:white;
}
</style>
</head>
<body>
	
	<div class="row">
		<div class="input-field col s12">
			<h4>Login</h4>
			
			<form th:action="@{/login}" method="post" class="col s12">
				<div class="row">
					<div class="input-fiel col s4">
						<label>Usuário</label>
						<input type="text" name="username" placeholder="Nome de usuário">
					</div>
				</div>
				<div class="row">
					<div class="input-fiel col s4">
						<label>Senha</label>
						<input type="password" name="password" placeholder="Sua senha">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input class="waves-effect waves-light btn" type="submit" value="Entrar">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>